<div class="py-2" *ngIf="fileInfo">
  <h1 class="text-2xl">{{fileInfo.name}}</h1>
  <ul class="px-2">
    <li>Environment: {{fileInfo.env}}</li>
    <li>Service: {{fileInfo.service}}</li>
    <li>File Name: {{fileInfo.name}}</li>
  </ul>

  <div *ngIf="fileInfo.yaml && displayYaml">
    <app-yaml-info class="pl-1"[fileInfo]="fileInfo"></app-yaml-info>
  </div>

  <div *ngIf="fileInfo['spring-properties'] && displaySpringProperties">
    <app-spring-info class="pl-1" [springProperties]="fileInfo['spring-properties']"></app-spring-info>
  </div>
</div>
