<nav class="border border-gray-200 px-2 py-2.5 rounded">
  <div class="container flex flex-wrap items-center">
    <span class="block py-2 pl-3 pr-4 rounded">Config Manager</span>
    <ul class="flex flex-col md:flex-row p-4 mt-4">
      <li>
        <a routerLink="/" class="block py-2 pl-3 pr-4 rounded text-blue-500 hover:text-blue-700">Home</a>
      </li>
      <li>
        <a routerLink="/view" class="block py-2 pl-3 pr-4 rounded text-blue-500 hover:text-blue-700">View</a>
      </li>
      <li>
        <a routerLink="/apply" class="block py-2 pl-3 pr-4 rounded text-blue-500 hover:text-blue-700">Apply</a>
      </li>
      <li>
        <a routerLink="/migrate" class="block py-2 pl-3 pr-4 rounded text-blue-500 hover:text-blue-700">Migrate</a>
      </li>
      <li>
        <a routerLink="/envs" class="block py-2 pl-3 pr-4 rounded text-blue-500 hover:text-blue-700">Envs</a>
      </li>
    </ul>
  </div>
</nav>
